@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<WebQLyNongSan.Models.BlogViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />


<div class="heading">
    <h1>Blog</h1>
    <p><a href="~/Home/Index">Trang chủ >></a> các bài viết</p>
</div>

<section class="blogs">
    <h1 class="title"> <span>Blog</span></h1>
    <div class="box-container">
        @foreach (var item in Model)
        {
            <div class="box">
                <div class="image">
                    <img src="~/Areas/Admin/Image/@item.blogs.Picture" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href=""><i class="fas fa-calendar"></i>@item.blogs.Create_at</a>
                        <a href=""><i class="fas fa-user"></i>bởi @item.userName</a>
                    </div>
                    <h3>@item.blogs.Title</h3>
                    <p class="p_Desc">@item.blogs.Content</p>
                    <a href="~/Blog/Detail/@item.blogs.id" class="btn">đọc tiếp</a>
                </div>
            </div>
        }



    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
</section>

