@model WebQLyNongSan.Models.Product
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="tool">
    <div class="heading">

        <form action="" class="search">
            <label>
                <input id="search-input" type="text" placeholder="Search here">
                <button type="submit"> <i class="fa-solid fa-magnifying-glass"></i></button>
            </label>
        </form>
        <button href="" class="btnAdd">
            <i class="fa-solid fa-plus"></i>
            Thêm

        </button>
    </div>
</div>

<!-- ================ Order Details List ================= -->
<div class="details">
    <div class="tableData">
        <div class="cardHeader form-index">
            <h2>Danh sách sản phẩm</h2>
        </div>

        <table>
            <thead>
                <tr>
                    <td>Tên</td>
                    <td>Danh mục</td>
                    <td>Nhà sản xuất</td>
                    <td>Hình ảnh</td>
                    <td>Mô tả</td>
                    <td>Giá bán</td>
                    <td>Giá nhập</td>
                    <td>S.Lượng</td>
                    <td style="width:9.6rem">Hành động</td>

                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>
    <nav id="pagination" class="pagination"></nav>
</div>


<div class="modal js-modal">
    <form action="~/Admin/Product/Create" method="post" class="form js-form animate" id="form-2" enctype="multipart/form-data">
        <div class="modal-close js-modal-close">
            <i class="fa-regular fa-circle-xmark"></i>
        </div>
        <h3 class="heading">Thêm sản phẩm</h3>

        <div class="spacer"></div>

        <div class="form-group">
            <label for="Name" class="form-label">Tên sản phẩm</label>
            <input id="Name" name="Name" type="text" placeholder="VD: chuối" class="form-control">
            <span class="form-message"><label class="error" for="Name"></label></span>
        </div>

        <div class="form-group">
            <label for="Alias" class="form-label">Alias</label>
            <input id="Alias" name="Alias" type="text" placeholder="VD: chuoi" class="form-control">
            <span class="form-message"><label class="error" for="Alias"></label></span>
        </div>

        <div class="form-group">
            <label for="Name" class="form-label">Tên danh mục</label>
            <select id="CategoryId" name="CategoryId">
                @foreach (var item in new WebQLyNongSan.Models.QLyNongSanEntities2().Categories.ToList())
                {
                    <option value="@item.id">@item.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="Name" class="form-label">Tên nhà sản xuất</label>
            <select id="supplierId" name="supplierId">
                @foreach (var item in new WebQLyNongSan.Models.QLyNongSanEntities2().Suppliers.ToList())
                {
                    <option value="@item.id">@item.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="Picture" class="form-label">Hình ảnh</label>
            <img src="~/Areas/Admin/Image/imagePreview.jpg" style="margin: 1rem; height: auto; width: 20rem" id="imagePreview" alt="Alternate Text" />
            <input id="Picture" name="Picture" type="file" class="form-control" data-val="true" accept="image/jpeg, image/png" onchange="showImagePreview(this, document.getElementById('imagePreview'))">
            <span class="form-message"><label class="error" for="Picture"></label></span>
        </div>

        <div class="form-group">
            <label for="ShortDesc" class="form-label">Mô tả</label>
            <input id="ShortDesc" name="ShortDesc" type="text" placeholder="VD: Thực phẩm..." class="form-control">
            <span class="form-message"><label class="error" for="ShortDesc"></label></span>
        </div>

        <div class="form-group">
            <label for="FullDesc" class="form-label">Mô tả đầy đủ</label>
            <textarea id="FullDesc" name="FullDesc" type="text" placeholder="VD: Thực phẩm..." class="form-control"></textarea>
            <span class="form-message"><label class="error" for="FullDesc"></label></span>
        </div>

        <div class="form-group">
            <label for="Price" class="form-label">Giá bán</label>
            <input id="Price" name="Price" type="number" placeholder="VD: 22000" class="form-control">
            <span class="form-message"><label class="error" for="Price"></label></span>
        </div>

        <div class="form-group">
            <label for="Cost" class="form-label">Giá nhập</label>
            <input id="Cost" name="Cost" type="number" placeholder="VD: 22000" class="form-control">
            <span class="form-message"><label class="error" for="Cost"></label></span>
        </div>

        <div class="form-group">
            <label for="UnitStock" class="form-label">Số lượng</label>
            <input id="UnitStock" name="UnitStock" type="number" placeholder="VD: 22" class="form-control">
            <span class="form-message"><label class="error" for="UnitStock"></label></span>
        </div>

        <div class="form-group group-display">
            <div>
                <label for="HomeFlag" class="form-label">Hiển thị lên trang chủ ?</label>
                <select id="HomeFlag" name="HomeFlag">
                    <option value="True">Có</option>
                    <option value="False">Không</option>
                </select>
            </div>

            <div>
                <label for="BestSeller" class="form-label">Gắn nhãn bán chạy ?</label>
                <select id="BestSeller" name="BestSeller">
                    <option value="True">Có</option>
                    <option value="False">Không</option>
                </select>
            </div>
        </div>

        <button type="submit" id="addCategoryButton" class="form-submit">Thêm</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            loadData('',null,4);

            //Hàm tìm kiếm
            $(".search").submit(function (e) {
                e.preventDefault();
                // Lấy từ khóa tìm kiếm từ input
                var searchString = $("#search-input").val();
                // Thực hiện tìm kiếm bằng AJAX
                loadData(searchString,null,4);
            });

            //Sự kiện nhập của text tên sản phẩm
            $('#Name').keypress(function () {
                $('#Alias').val(getAlias($(this).val()));
            });

            //Chặn hành động submit mặc định
            $("#form-2").on("submit", function (e) {
                e.preventDefault();
            });

            //Setting validation
            $('#form-2').validate({
                rules: {
                    Name: {
                        required: true,
                        minlength: 1
                    },
                    Alias: "required",
                    Picture: "required",
                    ShortDesc: {
                        required: true,
                        minlength: 3
                    },
                    FullDesc: {
                        required: true,
                        minlength: 3
                    },
                    Cost: "required",
                    Price: "required",
                    UnitStock: "required",
                },
                messages: {
                    Name: {
                        required: "Bạn phải nhập tên",
                        minlength: "Tên phải có độ dài tối thiểu 1 ký tự"
                    },
                    ShortDesc: {
                        required: "Bạn phải nhập mô tả",
                        minlength: "Mô tả phải có độ dài tối thiểu 3 ký tự"
                    },
                    FullDesc: {
                        required: "Bạn phải nhập mô tả chi tiết",
                        minlength: "Mô tả chi tiết phải có độ dài tối thiểu 3 ký tự"
                    },
                    Alias: "Bạn phải nhập Alias",
                    Picture: "Bạn phải chọn hình ảnh",
                    Cost: "Bạn phải nhập giá nhập",
                    Price: "Bạn phải nhập giá bán",
                    UnitStock: "Bạn nhập số lượng sản phẩm",
                }
            });

            //Thực hiện hành động kiểm tra validate và thêm mới
            $("#addCategoryButton").on("click", function () {
                if ($('#form-2').valid()) {
                    jQueryAjaxCreate(document.getElementById("form-2"));
                } else {
                    $("#form-2").submit();
                }
            });

        });

        //Hàm load data
        function loadData(_searchString, page, pageSize) {
            $.ajax({
                async: true,
                url: '/Product/GetData',
                data: {
                    searchString: _searchString,
                    page: page,
                    pageSize: pageSize,
                },
                contentType: 'application/json;charset=utf-8',
                datatype: 'JSON',
                success: function (response) {
                    if (response.total > 0) {
                        var data = response.datas;
                        var html = '';
                        $.each(data, function (key, value) {
                            html += '<tr>';
                            html += '<td>' + value.Products.Name + '</td>';
                            html += '<td>' + value.CategoryName + '</td>';
                            html += '<td>' + value.SupplierName + '</td>';
                            html += '<td><img style= " width: 100px;height: auto; " src="/Areas/Admin/Image/' + value.Products.Picture + '" alt="Alternate Text" /></td>';
                            html += '<td class="p_Desc">' + value.Products.ShortDesc + '</td>';
                            html += '<td>' + value.Products.Price.toLocaleString() + '</td>';
                            html += '<td>' + value.Products.Cost.toLocaleString() + '</td>';
                            html += '<td>' + value.Products.UnitStock.toLocaleString() + '</td>';
                            html += ' <td><a title="Xem" href="/Admin/Product/Details/' + value.Products.id + '"><i class="fa-solid fa-eye icons"></i></a>'
                            html += '<a title="Sửa" href="/Admin/Product/Edit/' + value.Products.id + '"><i class="fa-solid fa-pencil icons"></i></a>'
                            html += '<a  id="delete-link" title="Xóa" href="/Admin/Product/Delete/' + value.Products.id + '" onclick = "showDelete(event,\'' + value.Products.Name + '\')" ><i class="fa-solid fa-trash icons"></i></a> </td>'
                            html += '</tr>';
                        });
                        $('.tbody').html(html);
                        Pagination(response.currrentPage, response.NumberPage, response.PageSize);
                    } else {
                        html = `<tr><td class="p_Search" colspan="8">Không tìm thấy kết quả theo từ khóa "${_searchString}"</td></tr>`
                        $('.tbody').html(html);
                    }
                },

                error: function () {
                    alert('lỗi hiển thị danh mục');
                }
            });
        }

        //Hàm thêm mới
        function jQueryAjaxCreate(form) {
            if ($(form).valid()) {
                var ajaxCofig = {
                    type: 'POST',
                    url: form.action,
                    data: new FormData(form),
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response == "success") {
                            showSuccessCreate('thêm', 'sản phẩm');
                            loadData('',null,4);
                            resetForm(form);
                        }

                    },
                    error: function (error) {
                        showErrorCreate();
                    }
                }
                if ($(form).attr('enctype') == "multipart/form-data") {
                    ajaxCofig["contentType"] = false;
                    ajaxCofig["processData"] = false;

                }
                $.ajax(ajaxCofig)
            }
        }

        //Hàm phân trang
        function Pagination(currentPage, NumberPage, pageSize) {
            if (NumberPage > 0) {
                var str = `<nav aria-label="Page navigation example"> <ul class="pagination">`;
                if (currentPage != 1) {
                    str += `<li class="page-item"><a class="page-link" onclick="NextPage(${currentPage - 1},${pageSize})" href="javascript:void(0);">Trước</a></li>`;
                }

                for (let i = 1; i <= NumberPage; i++) {
                    if (currentPage === i) {
                        str += `<li class="page-item active1"><a class="page-link" href="javascript:void(0);">${i}</a></li>`;
                    } else {
                        str += `<li class="page-item"><a class="page-link" onclick="NextPage(${i},${pageSize})" href="javascript:void(0);">${i}</a></li>`;
                    }

                }
                if (currentPage != NumberPage) {
                    str += `<li class="page-item"><a class="page-link" onclick="NextPage(${currentPage + 1},${pageSize})" href="javascript:void(0);">Sau</a></li>`;
                }
                str += "</ul></nav>";
                $('#pagination').html(str);
            }

        }

        function NextPage(page, pageSize) {
            var searchString = $("#search-input").val();
            loadData(searchString, page, pageSize);
        }
    </script>
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <script>
        showSuccessCreate('cập nhật', '@ViewBag.SuccessMessage');
        </script>
    }

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.min.js"></script>
}



