@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<WebQLyNongSan.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<!-- Heading -->
<div class="tool">
    <div class="heading">
        <form action="~/Admin/Contact/Index" method="get" class="search">
            <label>
                <input id="search-input" name="searchString" value="@ViewBag.currentFilter" type="text" placeholder="Search here">
                <button id="btnSearch" type="submit"> <i class="fa-solid fa-magnifying-glass"></i></button>
            </label>
        </form>

    </div>
</div>

<!-- ================ Order Details List ================= -->
<div class="details">
    <div class="tableData">
        <div class="cardHeader form-index">
            <h2>Danh sách liên hệ</h2>
        </div>

        <table>
            <thead>
                <tr>
                    <td>Tên</td>
                    <td>Email</td>
                    <td>SĐT</td>
                    <td>Nội dung</td>
                    <td>Hành động</td>
                </tr>
            </thead>
            @if (Model.Any())
            {
                <tbody class="tbody">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.Phone
                            </td>
                            <td class="p_Desc p_Contact">
                                @item.Content
                            </td>
                            <td>
                                <a title="Xem" href="/Admin/Contact/Details/@item.id"><i class="fa-solid fa-eye icons"></i></a>
                                <a title="Sửa" href="/Admin/Contact/Edit/@item.id"><i class="fa-solid fa-pencil icons"></i></a>
                                <a id="delete-link" title="Xóa" href="/Admin/Contact/Delete/@item.id" onclick="showDelete1(event,'@item.Name')"><i class="fa-solid fa-trash icons"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            } else
            {
                <tr>
                    <td class="p_Search" colspan="8">Không tìm thấy kết quả theo từ khóa "@Html.Raw(ViewBag.currentFilter)"</td>
                </tr>
            }
        </table>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
</div>

@section scripts {
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <script>
        showSuccessCreate('cập nhật', '@ViewBag.SuccessMessage');
        </script>
    }
    <script>
        function showDelete1(e, str) {
            e.preventDefault();
            var deleteUrl = $("#delete-link").attr("href");
            swal({
                title: "Xác nhận xóa ?",
                text: `Bạn chắc chắn muốn xóa ${str} không ?`,
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "Không",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Có",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                }
            }).then((willDelete) => {
                if (willDelete) {
                    window.location.href = deleteUrl;
                }
            });
        }
    </script>
}